* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

/* Common styles Start */

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background-color: #E55473;
    padding: 20px 43px;
}

.primary-bg {
    background-color: rgba(229, 84, 115, 0.10);
}

.description-style {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
}

.section-title-style {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Common Style End */

/* Banner style Start */

.banner-container {
    display: flex;
    gap: 97px;
    align-items: center;
    justify-content: space-around;
    padding: 40px 180px 0px 180px;
    margin-bottom: 150px;
}

.banner-title {
    color: #272727;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 25px;
}

/* Banner Style End */

/* Our Featured Section Styles Start */

.featured-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 60px auto 20px auto;

}

.featured-content-1 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}

.featured-content-2 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 115px 45px 50px 45px;
}

.featured-content-3 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

/* Our Featured Section Styles End */

/* Hot Deal Section Style Start */
.hot-deal-container {
    margin: 100px 0px;
    display: flex;
    gap: 100px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: space-between;
    padding: 80px 300px 80px 200px;
}
.hot-deal-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}
.hot-deal-description{
    text-align: center;
    margin-top: 10px;
}

/* Instagram Styles Start */
.instagram-images{
    max-width: 1440px;
    margin: 40px auto 125px auto;
}
.in-image{
    margin-right: 15px;
}

/* Instagram Styles End */

/* Latest Deals Styles Start */

.latest-deals-container{
    height: 450px;
    max-width: 1440px;
    margin: auto auto 125px auto;
    background-image:url(/styles/Rectangle\ 9.png);
    background-repeat: no-repeat;

    
}
.latest-deals-title{
    padding: 125px 0px 0px 0px;
}
.email-input{
    background-color: #fff;
    width: 70vh;
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-right: 15px;
}
.input-content{
    display: flex;
    justify-content: center;
}